<!doctype html>
<layout name="index/layout_index" />

<link rel="stylesheet" href="__PUBLIC__/css/list-1a559822c1.css">
<link rel="stylesheet" href="__PUBLIC__/css/investlists.css">
<script type="text/javascript" src="__PUBLIC__/js/list-build-f4f3ea3a3e.js"></script>
<div class="container">
		<div class="section">
		    <div class="filter-wrap">
		      <div class="filter-area clearfix">
		        <span class="filter-type fl">按状态</span>
		        <ul class="filter-item-list fl">
		          <li><a href="" class="active">全部</a></li>
		          <li><a href="" >正在预热</a></li>
		          <li><a href="" >正在融资</a></li>
		        </ul>
		      </div>
		      <div class="filter-area clearfix">
		        <span class="filter-type fl">按性质</span>
		        <ul class="filter-item-list fl">
		          <li><a href="" class="active">全部</a></li>
		          
		          <li><a href="" >新店众筹</a></li>
		          <li><a href="" >品牌众筹</a></li>
		          <li><a href="javascript:void(0);" class="disabled tooltipped tooltipped-n" aria-label="即将开通，敬请期待">老店众筹</a></li>
		        </ul>
		      </div>
		      <div class="filter-area clearfix">
		        <p class="filter-type fl">按地区<a class="more-btn hidden phone-show" href="javascript:void(0)"><span class="text">更多</span><span class="icon icon-down"></span></a></p>
		        <ul class="filter-item-list narrow part fl">
		          <li><a href="/invest?type=all&location=all&level=all&state=all" class="active">全国</a></li>
		  




		          <li class="more-btn phone-hidden" ><a href="javascript:void(0)"><span class="text">更多</span><span class="icon icon-down"></span></a></li>
		        </ul>
		      </div>
		    </div>

		    <ul class="projects">
		        

		          <li class="card on-going ">
		            <a class="card-head" href="/project/50850055">
		              <img src="__PUBLIC__/picture/0.jpg">
		              
		                <span class="p-state state-pledge">正在融资</span>
		              
		            </a>

		            <div class="card-body" >
		              <h3><a href="#" title="很久以前">很久以前</a></h3>
		              <p class="p-locate"><span class="icon-location"></span>上海市, 长宁区</p>
		              <p>只是家串店</p>

		              <div class="progress-wrap" style="text-align:center">
		                <div class="progress progress-sm">
		                  <div class="progress-bar" ></div>
		                </div>
		                <span class="progress-number"  ><span class="number">53%</span></span>
		              </div>

		              <div class="clearfix p-money">
		                <p class="fl">项目总额 <span>330.00万</span></p>
		                <p class="fr">已融资 <span>176.10万</span></p>
		              </div>
		            </div>
		          </li>
		       

		          <li class="card warm-up ">
		            <a class="card-head" href="/project/24857879">
		              <img src="__PUBLIC__/picture/1.jpg">
		              <span class="p-state state-pre-pledge">正在预热</span>
		            </a>

		            <div class="card-body" >
		              <h3><a href="/project/24857879" title="九锅一堂">九锅一堂</a></h3>
		              <p class="p-locate"><span class="icon-location"></span>重庆市, 南岸区</p>
		              <p>石锅川菜开创者</p>

		              <p class="time-count" data-start-time="2015-11-30T16:00:00">
		                <span class="time-notice">倒计时:</span>
		                <span class="time">--天 --小时 --分 --秒</span>
		              </p>

		              <div class="clearfix p-money">
		                <p class="fl">项目总额 <span>180万</span></p>
		                <p class="fr">预约金额 <span>130万</span></p>
		              </div>
		            </div>
		          </li>     
		    </ul>
		</div>
</div>

  